body{
    margin:0;
    margin-left: 350px;
    margin-top: 250px;
    display:block;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.paragraph{
    font-size: 35px;
    margin-left: -100px;
    font-family: Arial;
    font-weight: normal;
    position: fixed;
}

.fbpic{
    margin-left:-130px;
    margin-top: -70px;
    position:fixed
}

.login-container{
    width: 490px;
    height: 420px;
    padding: 15px;
    position: fixed; 
    margin-left: 500px;
    margin-top: -200px;
    background-color: white;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1)
}

input{
    display: block;
    width: 93%;
    outline: white;
    padding: 15px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}

.loginbtn{
    width: 100%;
    display: block;
    margin-top: 15px;
    padding: 15px 0;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #1877f2;
}

.forgot{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
    font-family: Arial;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

.forgot:hover{
    text-decoration: underline;
}

hr{
    margin: 25px 0;
    opacity: 0.3;
}

.new-account{
    display: block;
    margin: 15px auto;
    padding: 15px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #42b72a;
}

.create{
    font-weight: bold;
    margin-left: 650px;
    text-decoration: none;
    color: black;
}

.create:hover{
    text-decoration: underline;
}
.below-text{
    font-family: arial;
    position: fixed;
    margin-top: 270px;
    margin-left: -90px;
}

#text{
    padding-top: 10px;
}

body{
    display: inline-block;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

form{
    display: block;
    flex-direction: rig;
    justify-content:end;
    align-items: right;
}

    
